# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
jspm_packages

# testing
/coverage

# production
build
/example/build
/example/node_modules


# misc
.DS_Store